body {
    margin: 0 auto;
    padding: 0;
   width: 100%;
    /* border: 1px solid red; */
    box-sizing: content-box;
  }
  
  .box {
    /* border: 1px solid black; */
    width: 100%;
    height: 100px;
    background-color: green;
    color: white;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
  }
  
  .box1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
 
  
  .box1 a {
    color: white;
    text-decoration: none;
  }
  .box1 button {
    width: 10%;
    height: 50px;
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .navbarlinks {
    display: flex;
    width: 100%;
  }
  .neha{
    /* border: 2px solid red; */
    height: 350px;
  }
  .neha >img {
    width: 100%;
    height: 350px;
  }

  button{
    margin-top: 70px;
    border-radius: 25px;
    background-color: green;
    color: white;
    border: none;
    width: 20%;
    height: 50px;
    cursor: pointer;
  }
 

h2 neha {
    color: rgb(56, 173, 57);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
}
#readmore{
  margin-bottom: 2rem;
  margin-top: 1rem;
}



  /* media query  */
  @media screen and (max-width: 1000px) {
    #readmore{
      display: block;
    }
    .projcard-innerbox{
          border: 2px solid red;
          width: 100%;
    }
    #procard{
      border:5px solid red;
      width: 90%;
      box-sizing: border-box;
    }
  
      .box1{
         gap: 18rem;
       
      }
    .box1 p,
    a,
    button {
      display: none;
    }
    .box :nth-child(1) {
      width: 80%;
      text-align: center;
    }

    .pright{
      height: 400px;
    }
    
        #Protect {
          /* border: 2px solid red; */
          box-sizing: border-box;
          height: fit-content;
        }
    
      
        .footer {
          display: grid;
      
          grid-template-columns: repeat(2, 1fr);
          gap: 2.5rem;
          grid-template-rows: repeat(1, auto);
        }
      
        #footer {
          height: fit-content;
          box-sizing: border-box;
        }

  }
  @media screen and (max-width: 650px) {
    .box {
      width: 100%;
      /* border: 1px solid black; */
      display: flex;
      align-items: center;
      font-weight: bold;
      justify-content: space-between;
    }
    #boxptag {
      font-size: 13px;
      text-align: left;
      font-family: sans-serif;
      /* border: 2px solid white; */
    }
    .box1{
      /* border: 1px solid red; */
      gap: 20px;
    }
  
    .box1 p,
    a {
      display: none;
    }
    .box :nth-child(1) {
      width: 90%;
      font-size: 18px;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 360px) {
      .box1 img{
          height: 70px;
      }
      .box1{
          justify-content: center;
      }
  
  
  
  }




  
  /* media query */

  @media screen and (max-width: 850px) {
    #Protect .protectmain {
      display: grid;
      width: 90%;
      height: fit-content;
      /* border: 1px solid red; */
      grid-template-columns: 100%;
      gap: 1rem;
  
      margin: 3rem auto;
    }
    .pleft {
      display: none;
    }
  
    .protectmain .pright {
      height: fit-content;
    }
  
    .allcontent {
      flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 500px) {
    .pright {
      border: 2px solid green;
    }
    .footer {
      display: grid;
  
      grid-template-columns: repeat(1, 1fr);
      gap: 2.5rem;
      grid-template-rows: repeat(1, auto);
    }
  
    #footer {
      height: fit-content;
      box-sizing: border-box;
    }
  
    /* client grid */
    .clientgrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 150px);
      row-gap: 2rem;
      column-gap: 3rem;
    }
    .blogGrid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 400px);
      gap: 2.5rem;
      margin-bottom: 7rem;
    }
  
    .innerbexp {
      height: 100%;
      width: 100%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      color: white;
      text-align: center;
      font-family: "Hind", Sans-serif;
    }
    .exbox{
      width: 300px;
  
      /* border: 1px solid red; */
    }
  
  }
  @media screen and (max-width: 360px) {
    .footer {
      display: grid;
  
      grid-template-columns: repeat(1, 0.5fr);
      gap: 1rem;
      grid-template-rows: repeat(1, auto);
    }
  
    */
   
  
    #footer {
      height: fit-content;
      box-sizing: border-box;
    }
  }
  
  