.safety{
    /* border: 1px solid red; */
    width: 70%;
    
    margin: auto;
    font-size: 25px;
    color: lightpink;
    justify-content: center;
    margin-bottom: 50px;
    /* border: 2px solid; */
}

.safety p{
padding-top: 50px;


}

.safety h4{
  
    text-align: center;
    }


    @media screen and (max-width: 500px){
        .safety{
            width: 90%;
            box-sizing: border-box;
        }


    }
